<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.TestNGListners.TestngListners"></listener>

</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Testcases.Tc01_LaunchApplication"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
